<!-- Tufts VUE 3.3.0 concept-map (ConceptMap.vue) 2018-11-26 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/C:/Program%20Files%20(x86)/VUE/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Mon Nov 26 17:25:51 CET 2018 by PC18 on platform Windows 8 6.2 in JVM 1.7.0_21-b11 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0" label="ConceptMap.vue"
    created="1543160920114" x="0.0" y="0.0" width="1.4E-45"
    height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1543249551398" size="9630"
        spec="E:\Schule\Dennler Fabian\Modul_133\GBCommunity\04_Dokumentation\ConceptMap.vue"
        type="1" xsi:type="URLResource">
        <title>ConceptMap.vue</title>
        <property key="File" value="E:\Schule\Dennler Fabian\Modul_133\GBCommunity\04_Dokumentation\ConceptMap.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/4bf689b6c0a84b01006fa41c7ea64c00</URIString>
    <child ID="6" label="Backend" layerID="1" created="1543160948593"
        x="593.0" y="287.0" width="87.0" height="45.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/4bf689b6c0a84b01006fa41c5a33f13b</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="7" label="UML" layerID="1" created="1543160955505"
        x="589.5" y="453.5" width="87.0" height="45.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/4bf689b6c0a84b01006fa41c162b4129</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="8" label="Hostpoint" layerID="1" created="1543160969213"
        x="707.0" y="108.0" width="88.0" height="46.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/4bf689b6c0a84b01006fa41ca5984a97</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="10" label="Datenbank" layerID="1" created="1543160983489"
        x="414.0" y="286.0" width="88.0" height="46.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/4bf689b9c0a84b01006fa41cb769a09e</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="12" label="HTML" layerID="1" created="1543160999969"
        x="1084.5" y="174.5" width="87.0" height="45.0"
        strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/4bf689b9c0a84b01006fa41c189f7ed5</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="13" label="CSS" layerID="1" created="1543161000168"
        x="1247.5" y="84.5" width="87.0" height="45.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/4bf689b9c0a84b01006fa41ce7e9cfc2</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="14" label="PHP" layerID="1" created="1543161000393"
        x="554.5" y="103.5" width="87.0" height="45.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/4bf689b9c0a84b01006fa41c620f6690</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="15" label="Bootstrap" layerID="1" created="1543161000577"
        x="1247.5" y="285.5" width="87.0" height="45.0"
        strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/4bf689b9c0a84b01006fa41ca9be0551</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="16" label="Frontend" layerID="1" created="1543161000753"
        x="849.5" y="286.5" width="87.0" height="45.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/4bf689b9c0a84b01006fa41ced76f59b</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="17" label="MySQL &#xa;Workbench&#xa;" layerID="1"
        created="1543245515623" x="419.75" y="155.0" width="82.875"
        height="53.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc99fdd117a</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="19" label="verwaltet" layerID="1" created="1543245608505"
        x="650.4328" y="153.5" width="86.31372" height="133.99994"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc94e1e756b</URIString>
        <point1 x="736.2465" y="154.0"/>
        <point2 x="650.9328" y="286.99994"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">6</ID2>
    </child>
    <child ID="20" label="greifft zu" layerID="1"
        created="1543245653000" x="679.5" y="302.25" width="170.5"
        height="14.0" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc9cd67fa28</URIString>
        <point1 x="849.5" y="309.0848"/>
        <point2 x="680.0" y="309.4152"/>
        <ID1 xsi:type="node">16</ID1>
        <ID2 xsi:type="node">6</ID2>
    </child>
    <child ID="21" label="ruft auf" layerID="1" created="1543245664099"
        x="501.5" y="302.25073" width="92.0" height="14.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc9196c0b4d</URIString>
        <point1 x="593.0" y="309.37817"/>
        <point2 x="502.0" y="309.12326"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">10</ID2>
    </child>
    <child ID="22" label="designed" layerID="1" created="1543245686912"
        x="437.05" y="207.5" width="45.0" height="79.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc94ed6346c</URIString>
        <point1 x="460.525" y="208.0"/>
        <point2 x="458.57498" y="286.0"/>
        <ID1 xsi:type="node">17</ID1>
        <ID2 xsi:type="node">10</ID2>
    </child>
    <child ID="23" label="Framework f&#xfc;r" layerID="1"
        created="1543245940033" x="936.0" y="301.5" width="312.0"
        height="14.0" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc991e5d5b4</URIString>
        <point1 x="1247.5" y="308.10928"/>
        <point2 x="936.5" y="308.8907"/>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">16</ID2>
    </child>
    <child ID="24" label="erstellt" layerID="1" created="1543246029070"
        x="933.19104" y="215.89313" width="154.61804" height="74.213715"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc9fb9d8566</URIString>
        <point1 x="1087.3091" y="216.39313"/>
        <point2 x="933.69104" y="289.60684"/>
        <ID1 xsi:type="node">12</ID1>
        <ID2 xsi:type="node">16</ID2>
    </child>
    <child ID="25" label="Titel" layerID="1" created="1543246248226"
        x="1165.7634" y="127.627014" width="87.47327" height="48.74597"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc9b24f0bc8</URIString>
        <point1 x="1252.7366" y="128.12701"/>
        <point2 x="1166.2633" y="175.87299"/>
        <ID1 xsi:type="node">13</ID1>
        <ID2 xsi:type="node">12</ID2>
    </child>
    <child ID="27" label="UseCase&#xa;Diagramm" layerID="1"
        created="1543246656695" x="709.125" y="536.0" width="87.0"
        height="45.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc91076ade3</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="28" label="Sequenz&#xa;Diagramm" layerID="1"
        created="1543246658695" x="588.125" y="538.0" width="87.0"
        height="45.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc98579cef0</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="29" label="Activity&#xa;Diagramm" layerID="1"
        created="1543246659495" x="464.125" y="536.0" width="108.0"
        height="45.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc96ed7289e</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="32" label="Wireframes" layerID="1"
        created="1543246956951" x="874.125" y="112.0" width="87.0"
        height="45.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc96bfad2ae</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="33" layerID="1" created="1543247000975" x="632.97296"
        y="331.5" width="3.5540771" height="122.5" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc9ac6a6b95</URIString>
        <point1 x="633.47296" y="453.5"/>
        <point2 x="636.02704" y="332.0"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">6</ID2>
    </child>
    <child ID="34" label="Gibt Aussehen vor" layerID="1"
        created="1543247024486" x="859.3125" y="156.5" width="92.0"
        height="130.5" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc98feacf97</URIString>
        <point1 x="914.4498" y="157.0"/>
        <point2 x="896.1752" y="286.5"/>
        <ID1 xsi:type="node">32</ID1>
        <ID2 xsi:type="node">16</ID2>
    </child>
    <child ID="35" layerID="1" created="1543247064707" x="631.49115"
        y="498.0" width="1.6427002" height="40.5" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc986bf683b</URIString>
        <point1 x="631.99115" y="538.0"/>
        <point2 x="632.63385" y="498.5"/>
        <ID1 xsi:type="node">28</ID1>
        <ID2 xsi:type="node">7</ID2>
    </child>
    <child ID="36" layerID="1" created="1543247066551" x="548.9546"
        y="498.0" width="53.21588" height="38.49997" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc93d80a2a5</URIString>
        <point1 x="549.4545" y="536.0"/>
        <point2 x="601.6704" y="498.50003"/>
        <ID1 xsi:type="node">29</ID1>
        <ID2 xsi:type="node">7</ID2>
    </child>
    <child ID="37" layerID="1" created="1543247067989" x="665.125"
        y="498.0" width="55.37506" height="38.5" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc9e9e129ce</URIString>
        <point1 x="720.00006" y="536.0"/>
        <point2 x="665.625" y="498.5"/>
        <ID1 xsi:type="node">27</ID1>
        <ID2 xsi:type="node">7</ID2>
    </child>
    <child ID="38" layerID="1" created="1543247071380" x="602.2207"
        y="148.0" width="30.058594" height="139.5" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc928208312</URIString>
        <point1 x="602.7207" y="148.5"/>
        <point2 x="631.7793" y="287.0"/>
        <ID1 xsi:type="node">14</ID1>
        <ID2 xsi:type="node">6</ID2>
    </child>
    <child ID="39" layerID="1" created="1543248297851" x="768.84827"
        y="153.5" width="106.70233" height="133.50006" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc9ff397498</URIString>
        <point1 x="769.3483" y="154.0"/>
        <point2 x="875.05066" y="286.50006"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">16</ID2>
    </child>
    <child ID="40" layerID="1" created="1543248425756" x="1290.5"
        y="129.0" width="1.0" height="157.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/50d76036c0a8023500ff8fc9a33fad26</URIString>
        <point1 x="1291.0" y="285.5"/>
        <point2 x="1291.0" y="129.5"/>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">13</ID2>
    </child>
    <layer ID="1" label="Layer 1" created="1543160920123" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/4bf689b9c0a84b01006fa41c179d5982</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="12.625" y="-280.5"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Unbenannter Pfad" created="1543160920036"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="0" open="true">
            <strokeColor>#B3993333</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/4bf689b9c0a84b01006fa41cb163251a</URIString>
            <masterSlide ID="2" created="1543160920136" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/4bf689b9c0a84b01006fa41c33a39716</URIString>
                <titleStyle ID="3" label="Header"
                    created="1543160920466" x="335.5" y="172.5"
                    width="129.0" height="55.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/4bf689b9c0a84b01006fa41c36b7e487</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1543160920466" x="346.5" y="281.5"
                    width="107.0" height="37.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/4bf689b9c0a84b01006fa41c396c1e56</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1543160920473"
                    x="373.5" y="384.0" width="53.0" height="32.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/4bf689c3c0a84b01006fa41cc1171f3f</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2018-11-25</date>
    <modelVersion>6</modelVersion>
    <saveLocation>E:\Schule\Dennler Fabian\Modul_133\GBCommunity\04_Dokumentation</saveLocation>
    <saveFile>E:\Schule\Dennler Fabian\Modul_133\GBCommunity\04_Dokumentation\ConceptMap.vue</saveFile>
</LW-MAP>
